.task-card-container {
  display: flex;
  flex-direction: column;
  header {
    display: flex;
    flex-direction: row;
  }
  .task-icon {
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px 0 0;
  }
  .task-title {
    h5 {
      margin: 0;
      font-size: 16px;
    }
    i {
      font-size: 12px;
    }
    .author {
      display: flex;
    }
  }
  .task-body {
    font-size: 14px;
    margin: 0 0 10px 0;
  }
}
