<ax-page>
  <ax-toolbar>
    <ax-toolbar-menu [items]="listToolbarItems" selection="single">
    </ax-toolbar-menu>
  </ax-toolbar>
  <ax-page-content>
    <div style="padding:20px">
      <ax-number-box [min]="10" [max]="100" [(value)]="ttt">
      </ax-number-box>
      <br>
      <ax-select-box label="Selectbox" [allowSearch]="true" [items]="selectBoxItems" textField="text" valueField="id"
        placeholder="ax-select-box" [columns]="columns">
        <ax-validation>
          <ax-validation-rule type="required" message="this field is required"></ax-validation-rule>
        </ax-validation>
      </ax-select-box>
    </div>
  </ax-page-content>
</ax-page>