<ax-container>
  <ax-validation-form #form>
    <ax-row>
      <ax-col col-sm="1"></ax-col>
      <ax-col col-sm="10">
        <br />
        <br />
          
          <ax-select-box label="انتخاب" [items]="menuItems"></ax-select-box>
        <br />
        <br />

        <ax-date-picker showClear="true">
          <ax-validation>
            <ax-validation-rule
              type="required"
              message="مقدار این فیلد الزامی است"
            ></ax-validation-rule>
          </ax-validation>
        </ax-date-picker>
        <br />
        <br />
        <ax-pass-box label="پسورد" placeholder=""></ax-pass-box>
        <br />
        <br />
        <ax-text-box label="نام" showClear="true">
          <ax-validation>
            <ax-validation-rule
              type="required"
              message="مقدار این فیلد الزامی است"
            ></ax-validation-rule>
            <ax-validation-rule
              type="regex"
              message="ایمیل نادرست است"
              [value]="regEx"
            ></ax-validation-rule>
          </ax-validation>
        </ax-text-box>
        <br />
        <br />
        <ax-text-box label="نام خانوادگی">
          <ax-validation>
            <ax-validation-rule
              type="callback"
              message="مقدار این فیلد الزامی است"
              [value]="customValidation"
            >
            </ax-validation-rule>
          </ax-validation>
        </ax-text-box>
        <br />
        <br />
        <ax-text-box label="سلام"></ax-text-box>
        <br />
        <br />
        <ax-pass-box
          label="پسورد"
          placeholder=""
          showClear="true"
        ></ax-pass-box>
        <br />
        <ax-button text="سلام دنیا" (onClick)="onClick()"></ax-button>
        <br />
        <br />
        <ax-upload-file></ax-upload-file>
        <br />
        <br />
        <ax-card
          title="عنوان"
          content="توضیحات اینجا قرار میگیرد"
          [buttons]="menuItems"
          image="https://placeimg.com/640/480/nature"
        ></ax-card>
        <br />
        <br />
        <ax-selection-list
          [items]="check_box_items_inline"
          mode="single"
        ></ax-selection-list>
        <br />
        <br />
        <ax-selection-list
          [items]="check_box_items_inline"
          mode="multiple"
        ></ax-selection-list>
        <br />
        <br />
        <ax-image src="https://placeimg.com/640/480/nature"></ax-image>
        <br />
        <br />
        <ax-loading></ax-loading>
        <br />
        <br />
        <ax-menu [items]="menuItems"></ax-menu>
        <br />
        <br />
      </ax-col>
      <ax-col col-sm="1"></ax-col>
    </ax-row>
  </ax-validation-form>
</ax-container>

<router-outlet></router-outlet>
