<ax-page>
  <ax-page-content>
    <ax-row>
      <ax-col col-sm="3" col-xs="12">
        <ax-text-box label="Text Box">
          <ax-validation>
            <ax-validation-rule type="required" message="this field is required"></ax-validation-rule>
          </ax-validation>
        </ax-text-box>
      </ax-col>
      <ax-col col-sm="3" col-xs="12">
        <ax-pass-box label="Password Box">
          <ax-validation>
            <ax-validation-rule type="required" message="this field is required"></ax-validation-rule>
          </ax-validation>
        </ax-pass-box>
      </ax-col>
      <ax-col col-sm="3" col-xs="12">
        <ax-select-box label="Select Box" [items]="selectBoxItems">
          <ax-validation>
            <ax-validation-rule type="required" message="this field is required"></ax-validation-rule>
          </ax-validation>
        </ax-select-box>
      </ax-col>
      <ax-col col-sm="3" col-xs="12">
        <ax-date-picker label="Date Picker">
          <!-- TODO : date picker validation does not work -->
          <ax-validation>
            <ax-validation-rule type="required" message="this field is required"></ax-validation-rule>
          </ax-validation>
        </ax-date-picker>
      </ax-col>
    </ax-row>
    <ax-row>
      <ax-col col-sm="2" col-xs="12">
        <ax-button [block]="true" size="lg" (onClick)="infoToast()">Primary</ax-button>
      </ax-col>
      <ax-col col-sm="2" col-xs="12">
        <ax-button type="secondary" [block]="true" size="lg" (onClick)="infoToast()">Secondary</ax-button>
      </ax-col>
      <ax-col col-sm="2" col-xs="12">
        <ax-button type="success" [block]="true" size="lg" (onClick)="successToast()">Success</ax-button>
      </ax-col>
      <ax-col col-sm="2" col-xs="12">
        <ax-button type="danger" [block]="true" size="lg" (onClick)="errorToast()">Danger</ax-button>
      </ax-col>
      <ax-col col-sm="2" col-xs="12">
        <ax-button type="info" [block]="true" size="lg" (onClick)="infoToast()">Info</ax-button>
      </ax-col>
      <ax-col col-sm="2" col-xs="12">
        <ax-button type="warning" [block]="true" size="lg" (onClick)="warningToast()">Warning</ax-button>
      </ax-col>
    </ax-row>
    <ax-row>
      <ax-col col-sm="2" col-xs="12">
        <ax-button [block]="true" (onClick)="infoToast()">Primary</ax-button>
      </ax-col>
      <ax-col col-sm="2" col-xs="12">
        <ax-button type="secondary" [block]="true" (onClick)="infoToast()">Secondary</ax-button>
      </ax-col>
      <ax-col col-sm="2" col-xs="12">
        <ax-button type="success" [block]="true" (onClick)="successToast()">Success</ax-button>
      </ax-col>
      <ax-col col-sm="2" col-xs="12">
        <ax-button type="danger" [block]="true" (onClick)="errorToast()">Danger</ax-button>
      </ax-col>
      <ax-col col-sm="2" col-xs="12">
        <ax-button type="info" [block]="true" (onClick)="infoToast()">Info</ax-button>
      </ax-col>
      <ax-col col-sm="2" col-xs="12">
        <ax-button type="warning" [block]="true" (onClick)="warningToast()">Warning</ax-button>
      </ax-col>
    </ax-row>
    <ax-row>
      <ax-col col-sm="2" col-xs="12">
        <ax-button [block]="true" size="sm" (onClick)="infoToast()">Primary</ax-button>
      </ax-col>
      <ax-col col-sm="2" col-xs="12">
        <ax-button type="secondary" [block]="true" size="sm" (onClick)="infoToast()">Secondary</ax-button>
      </ax-col>
      <ax-col col-sm="2" col-xs="12">
        <ax-button type="success" [block]="true" size="sm" (onClick)="successToast()">Success</ax-button>
      </ax-col>
      <ax-col col-sm="2" col-xs="12">
        <ax-button type="danger" [block]="true" size="sm" (onClick)="errorToast()">Danger</ax-button>
      </ax-col>
      <ax-col col-sm="2" col-xs="12">
        <ax-button type="info" [block]="true" size="sm" (onClick)="infoToast()">Info</ax-button>
      </ax-col>
      <ax-col col-sm="2" col-xs="12">
        <ax-button type="warning" [block]="true" size="sm" (onClick)="warningToast()">Warning</ax-button>
      </ax-col>
    </ax-row>
    <ax-row>
      <ax-col col-sm="6">
        <p>Radio Section</p>
        <ax-selection-list [items]="sectionList"> </ax-selection-list>
      </ax-col>
      <ax-col col-sm="6">
        <p>Checkbox Section</p>
        <ax-selection-list mode="multiple" [items]="sectionList">
        </ax-selection-list>
      </ax-col>
    </ax-row>
    <ax-row>
      <ax-col col-sm="4">
        <p>Popup Section</p>
        <ax-button [block]="true" (onClick)="openPopup()">Open Popup</ax-button>
        <div class="ax-pad-sm"></div>
        <ax-button [block]="true" type="danger" (onClick)="openAlert()">Open Alert</ax-button>
        <div class="ax-pad-sm"></div>
        <ax-button [block]="true" type="success" (onClick)="openAlertConfirm()">Open Confirm</ax-button>
      </ax-col>
      <ax-col col-sm="4">
        <p>Drawer Section</p>
        <ax-button type="secondary" [block]="true" (onClick)="openDrawer()">Open Drawer</ax-button>
        <ax-drawer [show]="drawerOpen" [overlay]="true" mode="outer" onBlur="onBlur" close="button">
          <h5>Content can be here</h5>
        </ax-drawer>
        <br />
        <p>Loading Section</p>
        <ax-loading></ax-loading>
        <p>Progressbar Section</p>
        <ax-progress-bar progress="58"></ax-progress-bar>
      </ax-col>
      <ax-col col-sm="4">
        <p>Upload Section</p>
        <ax-upload-file></ax-upload-file>
      </ax-col>
    </ax-row>
    <ax-row>
      <ax-col col-sm="4">
        <p>Image Section</p>
        <ax-image src="http://lorempixel.com/output/city-q-c-650-650-10.jpg"></ax-image>
      </ax-col>
      <ax-col col-sm="4"> </ax-col>
      <ax-col col-sm="4"> </ax-col>
    </ax-row>
    <ax-row>
      <ax-col col-sm="12">
        <p>List Section</p>
        <ax-list title="List Title">
          <ax-data-source>
            <ax-callback-read [provideData]="provideListData"></ax-callback-read>
          </ax-data-source>
          <ng-template let-item>
            <span>{{ item.name }}</span>
          </ng-template>
        </ax-list>
      </ax-col>
    </ax-row>
    <ax-row>
      <ax-col col-sm="12">
        <p>Grid Section</p>

        <ax-data-grid title="Test remote data" >
          <ax-data-source>
            <ax-callback-read [provideData]="provideGridData"></ax-callback-read>
          </ax-data-source>
          <ax-selection-column></ax-selection-column>
          <ax-text-column field="id" caption="ID" [width]="100"></ax-text-column>
          <ax-text-column field="userId" caption="UserId" [width]="100"></ax-text-column>
          <ax-text-column field="title" caption="Title" [width]="300"></ax-text-column>
          <ax-check-column field="completed" caption="Completed" [width]="100"></ax-check-column>
          <ax-command-column [items]="commandItems"></ax-command-column>
        </ax-data-grid>
      </ax-col>
    </ax-row>
  </ax-page-content>
</ax-page>