<ax-page>
  <ax-page-toolbar
    [items]="toolbarItems"
    (itemClick)="onMenuItemClick($event)"
  ></ax-page-toolbar>
  <ax-page-content>
    <ax-validation-form #form>
      <ax-drawer
        [show]="drawerOpen"
        [overlay]="true"
        mode="inner"
        onBlur="onBlur"
        close="button"
      >
        <h1>Test</h1>
      </ax-drawer>

      <ax-select-box
        label="Select Box"
        [items]="defaultBindingsList"
      ></ax-select-box>

      <ax-date-picker showClear="true">
        <ax-validation>
          <ax-validation-rule
            type="required"
            message="this field is required"
          ></ax-validation-rule>
        </ax-validation>
      </ax-date-picker>
      <ax-pass-box label="Password Box" placeholder="">
        <ax-validation>
          <ax-validation-rule
            type="required"
            message="this field is required"
          ></ax-validation-rule>
        </ax-validation>
      </ax-pass-box>

      <ax-text-box label="First Name" showClear="true">
        <ax-validation>
          <ax-validation-rule
            type="required"
            message="this field is required"
          ></ax-validation-rule>
          <ax-validation-rule
            type="regex"
            message="E-Mail is invalid"
            [value]="regEx"
          ></ax-validation-rule>
        </ax-validation>
      </ax-text-box>

      <ax-text-box label="Last Name">
        <ax-validation>
          <ax-validation-rule
            type="callback"
            message="this field is required"
            [value]="customValidation"
          >
          </ax-validation-rule>
        </ax-validation>
      </ax-text-box>
      <ax-text-box label="Simple Textbox"></ax-text-box>
      <ax-pass-box label="Password with clear button" placeholder="" showClear="true"></ax-pass-box>
      <ax-button
      type="secondary"
        [loading]="loading"
        text="Submit"
        (onClick)="onClick()">
      </ax-button>

      <ax-button
        [loading]="loading"
        text="Show Errors"
        (onClick)="onDialogClick()"
      ></ax-button>
      <ax-button
        [loading]="loading"
        text="Show Popup"
        (onClick)="onPopupClick()"
      ></ax-button>
      <ax-upload-file></ax-upload-file>
      <ax-card
        title="Cart Title"
        content="more text here"
        [buttons]="menuItems"
        image="https://placeimg.com/640/480/nature"
      ></ax-card>

      <ax-selection-list
        [items]="check_box_items_inline"
        mode="single"
      ></ax-selection-list>

      <ax-selection-list
        [items]="check_box_items_inline"
        mode="multiple"
      ></ax-selection-list>
      <ax-image src="https://placeimg.com/640/480/nature"></ax-image>
      <ax-loading></ax-loading>
      <ax-menu [items]="menuItems"></ax-menu>
    </ax-validation-form>
  </ax-page-content>
  <ax-page-footer>
    <span>Copyright © 2017 | All rights reserved.</span></ax-page-footer
  >
</ax-page>
