<ax-check-box [(value)]="check" label="Check Me" (onValueChange)="valueChange($event)"></ax-check-box>

<ng-container *ngIf="check; else elseTemplate">
    TRUE
</ng-container>
<ng-template #elseTemplate>
    Flase
</ng-template>


<div class="container">
    <div class="row">
        <div class="col">
            <ax-text-box placeholder="without label"></ax-text-box>
        </div>
        <div class="col">
            <ax-text-box size="sm" label="Input Label" placeholder="with label"></ax-text-box>
        </div>
        <div class="col">
            <ax-text-box label="Input Label" placeholder="with label"></ax-text-box>
        </div>
        <div class="col">
            <ax-text-box label="Input Label" placeholder="with label"></ax-text-box>
        </div>
        <div class="col">
            <ax-text-box label="Input Label" placeholder="with label"></ax-text-box>
        </div>
        <div class="col">
            <ax-text-box label="Input Label" placeholder="with label"></ax-text-box>
        </div>
    </div>
</div>