<!-- <ax-selection-list mode="single" [items]="items" #f1 [selectedItems]="radioSelectedItems">

</ax-selection-list>

<div>{{f1.selectedItems.length}}</div>
<br>
<br>
<br>
<br>
<ax-selection-list mode="multiple"  [items]="items2" #f2 [selectedItems]="checkSelectedItems">

</ax-selection-list>

<div>{{f2.selectedItems.length}}</div> -->



<ax-page>

  <ax-page-content>
    <ax-row>
      <ax-col col-xs="6" col-md="12">
        <ax-edit-box label="edit box label" data="This value">
          <ax-text-box label="edit box label"></ax-text-box>
        </ax-edit-box>
      </ax-col>
    </ax-row>
   
  </ax-page-content>
</ax-page>