<ax-page>
  <ax-toolbar>
    <ax-toolbar-menu [items]="toolbarItems"></ax-toolbar-menu>
    <ax-toolbar-menu [items]="toolbarItems"></ax-toolbar-menu>
  </ax-toolbar>
  <ax-page-content>
    <ax-container>
      <h4>Editors</h4>

      <ax-row>
        <ax-col col-sm="3" col-xs="12">
          <ax-text-box readonly="true" label="Textbox">
            <ax-validation>
              <ax-validation-rule
                type="required"
                message="this field is required"
              ></ax-validation-rule>
            </ax-validation>
          </ax-text-box>
        </ax-col>
        <ax-col col-sm="3" col-xs="12">
          <ax-password-box label="Password Box" readonly="true">
            <ax-validation>
              <ax-validation-rule
                type="required"
                message="this field is required"
              ></ax-validation-rule>
            </ax-validation>
          </ax-password-box>
        </ax-col>
        <ax-col col-sm="3" col-xs="12">
          <ax-select-box
            label="Selectbox"
            readonly="true"
            [allowSearch]="true"
            [items]="selectBoxItems"
            placeholder="ax-select-box"
          >
            <ax-validation>
              <ax-validation-rule
                type="required"
                message="this field is required"
              ></ax-validation-rule>
            </ax-validation>
          </ax-select-box>
        </ax-col>
        <ax-col col-sm="3" col-xs="12">
          <ax-date-picker
            label="Date Picker"
            readonly="true"
            calendar="persian"
            placeholder="Enter Date here"
          >
            <ax-validation>
              <ax-validation-rule
                type="required"
                message="this field is required"
              ></ax-validation-rule>
            </ax-validation>
          </ax-date-picker>
        </ax-col>
      </ax-row>
      <ax-row>
        <ax-col col-sm="3" col-xs="12">
          <ax-text-area label="Text Area" disabled="true"> </ax-text-area>
        </ax-col>
        <ax-col col-sm="3">
        
        </ax-col>
        <ax-col col-sm="3">
          <ax-time-picker></ax-time-picker>
        </ax-col>
      </ax-row>
      <hr />
      <h4>Buttons</h4>
      <ax-row>
        <ax-col col-sm="2" col-xs="12">
          <ax-button [block]="true" size="lg" 
            >Primary</ax-button
          >
        </ax-col>
        <ax-col col-sm="2" col-xs="12">
          <ax-button
            type="secondary"
            [block]="true"
            size="lg"
            (onClick)="infoToast()"
            >Secondary</ax-button
          >
        </ax-col>
        <ax-col col-sm="2" col-xs="12">
          <ax-button
            type="success"
            [block]="true"
            size="lg"
            (onClick)="successToast()"
            >Success</ax-button
          >
        </ax-col>
        <ax-col col-sm="2" col-xs="12">
          <ax-button
            type="danger"
            [block]="true"
            size="lg"
            (onClick)="errorToast()"
            >Danger</ax-button
          >
        </ax-col>
        <ax-col col-sm="2" col-xs="12">
          <ax-button
            type="info"
            [block]="true"
            size="lg"
            (onClick)="infoToast()"
            >Info</ax-button
          >
        </ax-col>
        <ax-col col-sm="2" col-xs="12">
          <ax-button
            type="warning"
            [block]="true"
            size="lg"
            (onClick)="warningToast()"
            >Warning</ax-button
          >
        </ax-col>
      </ax-row>
      <div class="ax-mar-sm"></div>
      <ax-row>
        <ax-col col-sm="2" col-xs="12">
          <ax-button [block]="true" (onClick)="infoToast()">Primary</ax-button>
        </ax-col>
        <ax-col col-sm="2" col-xs="12">
          <ax-button type="secondary" [block]="true" (onClick)="infoToast()"
            >Secondary</ax-button
          >
        </ax-col>
        <ax-col col-sm="2" col-xs="12">
          <ax-button type="success" [block]="true" (onClick)="successToast()"
            >Success</ax-button
          >
        </ax-col>
        <ax-col col-sm="2" col-xs="12">
          <ax-button type="danger" [block]="true" (onClick)="errorToast()"
            >Danger</ax-button
          >
        </ax-col>
        <ax-col col-sm="2" col-xs="12">
          <ax-button type="info" [block]="true" (onClick)="infoToast()"
            >Info</ax-button
          >
        </ax-col>
        <ax-col col-sm="2" col-xs="12">
          <ax-button type="warning" [block]="true" (onClick)="warningToast()"
            >Warning</ax-button
          >
        </ax-col>
      </ax-row>
      <div class="ax-mar-sm"></div>

      <ax-row>
        <ax-col col-sm="2" col-xs="12">
          <ax-button [block]="true" size="sm" (onClick)="infoToast()"
            >Primary</ax-button
          >
        </ax-col>
        <ax-col col-sm="2" col-xs="12">
          <ax-button
            type="secondary"
            [block]="true"
            size="sm"
            (onClick)="infoToast()"
            >Secondary</ax-button
          >
        </ax-col>
        <ax-col col-sm="2" col-xs="12">
          <ax-button
            type="success"
            [block]="true"
            size="sm"
            (onClick)="successToast()"
            >Success</ax-button
          >
        </ax-col>
        <ax-col col-sm="2" col-xs="12">
          <ax-button
            type="danger"
            [block]="true"
            size="sm"
            (onClick)="errorToast()"
            >Danger</ax-button
          >
        </ax-col>
        <ax-col col-sm="2" col-xs="12">
          <ax-button
            type="info"
            [block]="true"
            size="sm"
            (onClick)="infoToast()"
            >Info</ax-button
          >
        </ax-col>
        <ax-col col-sm="2" col-xs="12">
          <ax-button
            type="warning"
            [block]="true"
            size="sm"
            (onClick)="warningToast()"
            >Warning</ax-button
          >
        </ax-col>
      </ax-row>
      <hr />
      <!-- TODO: Check the ax-tab-view component -->
      <!-- <ax-row>
        <ax-col col-sm="12">
          <ax-tab-view>
            <ax-tab title="First Tab">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                sunt in culpa qui officia deserunt mollit anim id est laborum.
              </p>
            </ax-tab>
            <ax-tab title="Second Tab">
              <ax-selection-list [items]="sectionList"> </ax-selection-list>
            </ax-tab>
            <ax-tab title="Fourth Tab">
              <ax-image src="http://lorempixel.com/output/city-q-c-650-650-10.jpg"></ax-image>
            </ax-tab>
            <ax-tab title="Fifth Tab">Empty</ax-tab>
          </ax-tab-view>
        </ax-col>
      </ax-row> -->
      <h4>Radio & Check Button</h4>
      <ax-row>
        <ax-col col-sm="6">
          <p>Radio Section</p>
          <ax-selection-list [items]="sectionList"> </ax-selection-list>
        </ax-col>
        <ax-col col-sm="6">
          <p>Checkbox Section</p>
          <ax-selection-list mode="multiple" [items]="sectionList">
          </ax-selection-list>
          <ax-check-box label="with lable"></ax-check-box>
          <ax-check-box label="disabled" disabled="true"></ax-check-box>
          <ax-check-box label="readonly" readonly="true"></ax-check-box>
          <ax-check-box></ax-check-box>
        </ax-col>
      </ax-row>
      <hr />
      <h4>Popups & Drawer</h4>
      <ax-row>
        <ax-col col-sm="3">
          <ax-button [block]="true" (onClick)="openPopup()"
            >Open Popup</ax-button
          >
        </ax-col>
        <ax-col col-sm="3">
          <ax-button [block]="true" type="danger" (onClick)="openAlert()"
            >Open Alert</ax-button
          >
        </ax-col>
        <ax-col col-sm="3">
          <ax-button
            [block]="true"
            type="success"
            (onClick)="openAlertConfirm()"
            >Open Confirm</ax-button
          >
        </ax-col>
        <ax-col col-sm="3">
          <ax-button type="secondary" [block]="true" (onClick)="openDrawer()"
            >Open Drawer</ax-button
          >
        </ax-col>
      </ax-row>
      <hr />
      <h4>Loading & Progressbar</h4>
      <ax-row>
        <ax-col col-sm="6">
          <ax-loading></ax-loading>
        </ax-col>
        <ax-col col-sm="6">
          <ax-progress-bar progress="58"></ax-progress-bar>
        </ax-col>
      </ax-row>
      <hr />
      <h4>Uploader</h4>
      <ax-row>
        <ax-col col-sm="4">
          <ax-upload-file></ax-upload-file>
        </ax-col>
        <ax-col col-sm="4"></ax-col>
        <ax-col col-sm="4"></ax-col>
      </ax-row>
      <ax-row>
        <ax-col col-sm="4">
          <p>Image Section</p>
          <ax-image
            src="http://lorempixel.com/output/city-q-c-650-650-10.jpg"
          ></ax-image>
        </ax-col>
        <ax-col col-sm="4"> </ax-col>
        <ax-col col-sm="4"> </ax-col>
      </ax-row>
      <ax-row>
        <ax-col col-sm="12">
          <p>List Section</p>
          <ax-list
            title="List Title"
            [height]="'300px'"
            [emptyTemplate]="empty"
            [itemTemplate]="itemTemplatee"
          >
            <ax-toolbar>
              <ax-toolbar-list-view></ax-toolbar-list-view>
              <ax-toolbar-title text="LEAD"></ax-toolbar-title>
              <ax-toolbar-search></ax-toolbar-search>
            </ax-toolbar>
            <ax-data-source>
              <ax-callback-read
                [provideData]="provideListData"
              ></ax-callback-read>
            </ax-data-source>

            <ng-template #itemTemplatee let-item>
              <div
                class="ax-card-box ax-pad-md ax-full-width"
                style="margin-bottom: 10px"
              >
                {{ item.title }}
              </div>
            </ng-template>
            <ng-template #empty>
              NO DATA!
            </ng-template>
          </ax-list>
        </ax-col>
      </ax-row>
      <ax-row>
        <ax-col col-sm="12">
          <p>Grid Section</p>
          <div style="height: 500px">
            
          </div>
        </ax-col>
      </ax-row>
    </ax-container>
  </ax-page-content>
</ax-page>
