.dashboard-card-container {
    display: flex;

    a {
        color: var(--secondary-color) !important;
        text-decoration: none !important;
    }

    .card-box {
        min-width: 200px;
        min-height: 290px;
        background: #fce247;
        margin-left: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        cursor: pointer;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;

        span {
            width: 90px;
            text-align: center;
        }

        i {
            margin-top: 20px;
        }
    }
}