<ax-page>
  <ax-toolbar>
    <ax-toolbar-menu [items]="toolbarItemsRight" (itemClick)="onItemMenuRightClick($event)">
    </ax-toolbar-menu>
    <ax-toolbar-search (onTextChanged)="onSearch($event)"></ax-toolbar-search>
  </ax-toolbar>
  <ax-page-content>
    <div class="dashboard-card-container">
      <div class="card-box" *ngFor="let item of cardItems" [style.backgroundImage]="'url(assets/images/form.jpg)'"
        (click)="onItemClick(item)">
        <span>
          {{ item.title }}
        </span>
        <i class="fas fa-external-link-alt"></i>
      </div>
    </div>
  </ax-page-content>
</ax-page>