<ax-page>
    <ax-toolbar>
        <ax-toolbar-menu [items]="listToolbarItems" (itemClick)="onToolbarClick($event)">
        </ax-toolbar-menu>
    </ax-toolbar>
    <ax-page-content>
        <div style="width: 100%; height: calc(100vh - 140px)">
            <ax-dock-layout #layout autoSave="true" storageKey="Test">
                <ax-dock-panel type="row">
                    <ax-dock-panel type="stack" [size]="20">
                        <ax-dock-content caption="Filters">
                            <ng-template>
                                <h1>Filters</h1>
                            </ng-template>
                        </ax-dock-content>

                    </ax-dock-panel>
                    <ax-dock-panel type="stack" [size]="80">
                        <ax-dock-content caption="Leads">
                            <ng-template>
                                <ax-toolbar>
                                    <ax-toolbar-menu [items]="listToolbarItems" (itemClick)="onToolbarClick($event)">
                                    </ax-toolbar-menu>
                                </ax-toolbar>
                                <div style="width: 100%; height: 100%;overflow: scroll;">

                                    <h1>Leads</h1>
                                    <h1>Leads</h1>
                                    <h1>Leads</h1>
                                    <h1>Leads</h1>
                                    <h1>Leads</h1>
                                    <h1>Leads</h1>
                                    <h1>Leads</h1>
                                    <h1>Leads</h1>
                                    <h1>Leads</h1>
                                    <h1>Leads</h1>
                                    <h1>Leads</h1>
                                    <h1>Leads</h1>
                                    <h1>Leads</h1>
                                    <h1>Leads</h1>
                                    <h1>Leads</h1>
                                    <h1>Leads</h1>
                                    <h1>Leads</h1>
                                    <h1>Leads</h1>
                                    <h1>Leads</h1>
                                    <h1>Leads</h1>
                                    <h1>Leads</h1>
                                    <h1>Leads</h1>
                                    <h1>Leads</h1>
                                    <h1>Leads</h1>
                                    <h1>Leads</h1>
                                    <h1>Leads</h1>
                                    <h1>Leads</h1>
                                    <h1>Leads</h1>
                                    <h1>Leads</h1>
                                    <h1>Leads</h1>
                                    <h1>Leads</h1>
                                    <h1>Leads</h1>
                                    <h1>Leads</h1>
                                    <h1>Leads</h1>
                                    <h1>Leads</h1>
                                    <h1>Leads</h1>
                                    <h1>Leads</h1>
                                    <h1>Leads</h1>
                                    <h1>Leads</h1>
                                    <h1>Leads</h1>
                                    <h1>Leads</h1>
                                    <h1>Leads</h1>
                                    <h1>Leads</h1>
                                    <h1>Leads</h1>
                                    <h1>Leads</h1>
                                    <h1>Leads</h1>
                                    <h1>Leads</h1>
                                    <h1>Leads</h1>
                                    <h1>Leads</h1>
                                    <h1>Leads</h1>
                                    <h1>Leads</h1>
                                    <h1>Leads</h1>
                                    <h1>Leads</h1>
                                    <h1>Leads</h1>
                                    <h1>Leads</h1>
                                    <h1>Leads</h1>
                                    <h1>Leads</h1>
                                    <h1>Leads</h1>
                                    <h1>Leads</h1>
                                    <h1>Leads</h1>
                                    <h1>Leads</h1>
                                    <h1>Leads</h1>
                                    <h1>Leads</h1>
                                    <h1>Leads</h1>
                                    <h1>Leads</h1>
                                    <h1>Leads</h1>
                                    <h1>Leads</h1>
                                    <h1>Leads</h1>
                                    <h1>Leads</h1>
                                    <h1>Leads</h1>
                                    <h1>Leads</h1>
                                    <h1>Leads</h1>
                                    <h1>Leads</h1>
                                    <h1>Leads</h1>
                                    <h1>Leads</h1>
                                    <h1>Leads</h1>
                                    <h1>Leads</h1>
                                    <h1>Leads</h1>
                                    <h1>Leads</h1>
                                    <h1>Leads</h1>
                                    <h1>Leads</h1>
                                    <h1>Leads</h1>
                                    <h1>Leads</h1>
                                    <h1>Leads</h1>
                                    <h1>Leads</h1>
                                    <h1>Leads</h1>
                                    <h1>Leads</h1>
                                    <h1>Leads</h1>
                                    <h1>Leads</h1>
                                    <h1>Leads</h1>
                                    <h1>Leads</h1>
                                    <h1>Leads</h1>
                                    <h1>Leads</h1>
                                    <h1>Leads</h1>
                                    <h1>Leads</h1>
                                    <h1>Leads</h1>
                                    <h1>Leads</h1>
                                    <h1>Leads</h1>
                                    <h1>Leads</h1>
                                    <h1>Leads</h1>
                                    <h1>Leads</h1>
                                    <h1>Leads</h1>
                                    <h1>Leads</h1>
                                    <h1>Leads</h1>
                                    <h1>Leads</h1>
                                    <h1>Leads</h1>
                                    <h1>Leads</h1>
                                    <h1>Leads</h1>
                                    <h1>Leads</h1>
                                    <h1>Leads</h1>
                                    <h1>Leads</h1>
                                    <h1>Leads</h1>
                                    <h1>Leads</h1>
                                    <h1>Leads</h1>
                                    <h1>Leads</h1>
                                    <h1>Leads</h1>
                                    <h1>Leads</h1>
                                    <h1>Leads</h1>
                                    <h1>Leads</h1>
                                    <h1>Leads</h1>
                                    <h1>Leads</h1>
                                    <h1>Leads</h1>
                                    <h1>Leads</h1>
                                    <h1>Leads</h1>
                                    <h1>Leads</h1>
                                    <h1>Leads</h1>
                                    <h1>Leads</h1>
                                    <h1>Leads</h1>
                                    <h1>Leads</h1>
                                    <h1>Leads</h1>
                                    <h1>Leads</h1>
                                    <h1>Leads</h1>
                                    <h1>Leads</h1>
                                    <h1>Leads</h1>
                                    <h1>Leads</h1>
                                    <h1>Leads</h1>
                                    <h1>Leads</h1>
                                    <h1>Leads</h1>
                                    <h1>Leads</h1>
                                    <h1>Leads</h1>
                                    <h1>Leads</h1>
                                    <h1>Leads</h1>

                                </div>
                            </ng-template>
                        </ax-dock-content>
                        <ax-dock-content caption="Calendar">
                            <ng-template>
                                <h1>Calendar</h1>

                            </ng-template>
                        </ax-dock-content>

                    </ax-dock-panel>
                </ax-dock-panel>
            </ax-dock-layout>
        </div>
    </ax-page-content>
</ax-page>