@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-balham.css";
@import "~golden-layout/src/css/goldenlayout-base.css";
@import "~golden-layout/src/css/goldenlayout-light-theme.css";

:root {
  // --primary-color:#fd6500 !important;
  // --primary-dark-color:#ce5200 !important;
  // Colors
  --sideNavDarkFont: #99abb4;
  --shadow: --grey;
  // Sizes
  --collapsedSize: 70px;
  --baseObjectsHeight: 50px;
  --baseControlsHeight: 40px;
  --baseLineHeight: 1.5;
  --sideBarCollapsed: 70px;
  --tabHeight: 43px;
  --sideBarWidth: 280px;
  --avatarImageSize: 72px;
  --circleBorderSize: 100px;
}
.as-split-gutter {
  flex-basis: 5px !important;
}
as-split {
  padding: 0 5px;
}
