@import '~@angular/cdk/overlay-prebuilt.css';
:root {
  // --primary-color:#2732cc !important;
  // --primary-dark-color:#1e27a3 !important;
  // --primary-light-color:#4f59e6 !important;
  // --primary-lighter-color:#b3b8ff !important;

  // Colors
  --sideNavDarkFont: #99abb4;
  --shadow: --grey;
  // Sizes
  --collapsedSize: 70px;
  --baseObjectsHeight: 50px;
  --baseControlsHeight: 40px;
  --baseLineHeight: 1.5;
  --sideBarCollapsed: 70px;
  --tabHeight: 43px;
  --sideBarWidth: 280px;
  --avatarImageSize: 72px;
  --circleBorderSize: 100px;
}
.as-split-gutter {
  flex-basis: 5px !important;
}
as-split {
  padding: 0 5px;
}

.ax-page-content {
  .inner-content {
      height: 100%;
  }
}