<ax-page>
    <ax-toolbar>
        <ax-toolbar-menu [items]="toolbarItems"></ax-toolbar-menu>
    </ax-toolbar>
    <ax-page-side-start>
        Hello
    </ax-page-side-start>
    <ax-page-content>
        <ax-data-grid  (cellDbClick)="onCellDbClick($event)"
            (selectionChanged)="onSelectionChanged($event)">
            <ax-toolbar>
                <ax-toolbar-menu [items]="gridItems"></ax-toolbar-menu>
                <ax-toolbar-search></ax-toolbar-search>
            </ax-toolbar>
            <ax-data-source>
                <ax-callback-read [provideData]="provideData"></ax-callback-read>
            </ax-data-source>
            <ax-selection-column></ax-selection-column>
            <ax-text-column field="name" caption="NAME" [width]="100"></ax-text-column>
            <ax-text-column field="company" caption="COMPANY" [width]="200"></ax-text-column>
            <ax-text-column field="email" caption="EMAIL" [width]="300"></ax-text-column>
            <ax-text-column field="source" caption="SOURCE" [width]="200"></ax-text-column>
            <ax-text-column field="owner" caption="LEAD OWNER " [width]="200"></ax-text-column>
            <ax-command-column [items]="commandItems"></ax-command-column>
        </ax-data-grid>
    </ax-page-content>
</ax-page>