<div class="ax-pad-md">
  <ax-upload-file #up type="hidden" label="upload avatar" [dropRef]="el" [progressRef]="el" (onLoad)="onFileLoad($event)"
  (onProgress)="onFileProgress($event)">
</ax-upload-file>
<div #el id="elm" style="width: 100px;height: 100px;background: #f00">
  DROP ZONE
  <button (click)="aalert('asdasd')">test</button>
</div>

<button (click)="up.open()">OPEN</button>

<span tooltip="This sis tooltip" *ngIf="showTooltip" (click)="spanClick()">This sis tooltip</span>



<ax-selection-list [items]="items" [(selectedValues)]="selectedValues" mode="multiple"></ax-selection-list>
<br>
<br>
<div *ngFor="let item of selectedValues">{{item}}</div>


<ax-select-box [items]="items" [allowSearch]="false" [(selectedValues)]="selectedValues"></ax-select-box>
<br>
<br>

<ax-color-picker></ax-color-picker>
</div>