<ax-page>
  <ax-toolbar>
    <!-- <ax-toolbar-filter-view [filterPanel]="filterPanel">
    </ax-toolbar-filter-view> -->
  </ax-toolbar>
  <ax-page-content>
    <ax-dock-layout #layout>
      <ax-dock-panel type="row">
        <ax-dock-panel type="stack" [size]="20">
          <ax-dock-content caption="Filters">
            <ng-template>
              <ax-filter-panel [groups]="filterGroups" [predefinedFilters]="savedList" #filterPanel
                (filterChange)="onFilterChange($event)">
              </ax-filter-panel>
            </ng-template>
          </ax-dock-content>

        </ax-dock-panel>
        <ax-dock-panel type="stack" [size]="80">
          <ax-dock-content caption="Leads">
            <ng-template>
              <ax-data-grid #grid height="100%"  [rowClass]="gridCellClass" (rowClick)="onRowClick($event)"
                [loadOnInit]="false">
                <ax-data-source>
                  <ax-callback-read [provideData]="provideGridData"></ax-callback-read>
                </ax-data-source>
                <ax-selection-column></ax-selection-column>
                <ax-text-column field="firstname" caption="Firstname" [width]="100" sort="desc">
                </ax-text-column>
                <ax-text-column field="lastname" caption="Lastname" [width]="100"></ax-text-column>
                <ax-text-column field="source" caption="Source" [width]="100"></ax-text-column>
                <ax-text-column field="number" caption="Number" [width]="100"></ax-text-column>
                <ax-text-column field="status" caption="Status" [width]="200"></ax-text-column>
                <ax-text-column field="nextAction" caption="Next Action" [width]="200">
                  <ax-cell-template>
                    <ng-template let-data>
                       A# {{data.number}}
                    </ng-template>
                  </ax-cell-template>
                </ax-text-column>
                <ax-date-column field="registerDate" caption="Registered" format="P" [width]="100">
                 
                </ax-date-column>
                <!-- <ax-date-column field="registerDate" caption="Registered" format="LLLL" [width]="100"></ax-date-column> -->
                <!-- <ax-row-template>
                          <ng-template let-data>
                            <div style="text-align: center">
                             {{data.title}}
                            </div>
                          </ng-template>
                        </ax-row-template> -->
              </ax-data-grid>
            </ng-template>
          </ax-dock-content>
        </ax-dock-panel>
      </ax-dock-panel>
    </ax-dock-layout>
  </ax-page-content>
</ax-page>